[Unit]
Description=The fantastic Hello webapp
After=network.target

[Service]
WorkingDirectory=/root/demos/hello-webapp
ExecStart=/usr/bin/gunicorn -b ':8000' --workers=2 hello:app
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
